* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: inherit;
}

li {
  list-style: none;
}

:root {
  font-family: Arial,  sans-serif;
}

#header {
  text-align: center;
  padding: 28px 0 22px;
  border-bottom: 2px solid grey;
  margin-bottom: 42px;

  > h1 {
    font-size: 2rem;
    margin-bottom: 28px;
  }

  > button {
    font-size: 1.2rem;
    padding: 4px 8px
  }
}

#add-book-dialog {
  --input-gap: 16px;

  /* Move it 50% relative to container */
  position: fixed;
  top: 50%;
  left: 50%;

  /* Move it back 50% relative to self */
  transform: translateX(-50%) translateY(-50%);

  border-radius: 12px;
  padding: 24px;

  h1 {
    font-size: 1.4rem;
    margin-bottom: var(--input-gap);
  }  

  .button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  
    button {
      padding: 4px 8px;
    }
  }
}

.text-field-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: var(--input-gap) 8px;
  margin-bottom: var(--input-gap);

  p {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;

    label {
      justify-self: end;
      align-self: center;
    }
  }
}


input {
  border: 2px solid rgb(177, 177, 177);
  border-radius: 4px;
  padding: 4px 8px;
}

fieldset {
  padding: 12px 0;
  margin-bottom: var(--input-gap);

  legend {
    margin-left: 12px;
  }

  ul {
    display: flex;
    justify-content: center;
    gap: 22px;
  }
}

.card {
  width: 250px;
  min-height: 180px;
  background-color: beige;
  border: 2px solid grey;
  border-radius: 14px;
  padding: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h2 {
    text-align: center;
    margin-bottom: 12px;
  }

  .button-container {
    display: flex;
    justify-content: end;
    gap: 8px;

    button {
      padding: 2px 4px;
    }
  }
}

